.post-title {
  color: $lightest-color;
  font-size: 1.8em;
}

.post-content {
  & > pre,
  .highlight {
    margin: 1em 0;
  }

  & > pre,
  .highlight > pre,
  .highlight > div {
    border-left: 0.4em solid rgba($primary-color, .8);
    padding: .5em 1em;
  }

  img {
    max-width: 100%;
  }
}

.post-meta {
  font-size: 0.8em;
  padding: 0em 0em 1em 0em;
}
