.tag {
  display: inline-block;
  margin-right: 0.2em;
  padding: 0 0.6em;
  font-size: 1em;
  border-radius: 0.2em;
  white-space: nowrap;
  background: $primary-color;
  transition: color 0.35s, background 0.35s;
  color: $highlight-color;

  &:hover {
    transition: color 0.25s, background 0.05s;
    background: $lightest-color;
    color: $highlight-color;
  }
}
